.wishlistpopup{
    cursor: pointer !important;
}
.bg-popup{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 10;
}
.window-popup{
    width: 30%;
    background-color: #fff;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    display: none;
    z-index: 11;
    padding: 20px;
}